<% if user_signed_in? %>
  <li>
    <%= link_to(raw("<span class='glyphicon glyphicon-user' aria-hidden='true'> #{current_user.name}"), edit_user_registration_path) %>
  </li>
  <li>
    <%= link_to(raw("<span class='glyphicon glyphicon-log-out' aria-hidden='true'> Logout"), destroy_user_session_path, :method => :get) %>
  </li>
<% else %>
  <li>
    <%= link_to(raw("<span class='glyphicon glyphicon-log-in' aria-hidden='true'> Login"), new_user_session_path)  %>
  </li>
<% end %>